body{
	margin: 0;
	font-family: Helvetica, Arial, fantasy, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

/* header styles */

header{
	background-color: darkred;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 230px;
	width: 400px;
	height: 400px;
	border: 15px solid whitesmoke;
}

h1, h2{
	font-family: 'Merienda One', cursive;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 15px 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: royalblue;
	margin: 40px 0px 10px;
}

a{
	color: royalblue;
}
a:hover{
	background-color: lightcoral;
	color: white;
}

footer{
	background-color: darkred;
	text-align: center;
	color: white;
	padding: 20px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	margin: 0;
	font-style: italic;
}